.grid-page-principale {
  background-color: yellow;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 40px 8fr 40px 8fr 40px 8fr 40px;
  grid-template-rows: 40px 500px 40px 1fr 40px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.carousel {
  grid-row: 2/3;
  grid-column: 2/7;
  background-color: brown;
}

.carousel-inner img {
  height: 50vh;
  border-width: 5px;
}

.carousel-item {
  background-size: 100%;
}

.trending {
  grid-row: 4/5;
  grid-column: 2/7;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.trending-item {
  background-color: brown;
  width: 33%;
  height: 200px;
  background-size: 100%;
  box-shadow: 1px 1px 20px rgba(54, 54, 54, 0.384) inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.trending-item h2 {
  color:white;
  font-size: 30px;
  padding-left: 20px;
  text-shadow: 2px 2px 4px rgb(66, 66, 66);
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
